[submodule "desafio-sharenergy-front-end"]
	path = desafio-sharenergy-front-end
	url = https://github.com/JRGCast/desafio-sharenergy-front-end
[submodule "desafio-sharenergy-back-end"]
	path = desafio-sharenergy-back-end
	url = https://github.com/JRGCast/desafio-sharenergy-back-end
